.local {
  background-image: url('../../../public/images/hero1.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 400px;
}

.down {
  width: 50%;
  height: 5%;
}


@media only screen and (max-width: 425px) {
  .exam {
    display: flex;
    flex-direction: column-reverse;
    margin-left: 30px;
  }

  .mere {
    /* width: 100%; */
    max-width: 1440px;
  }

  /* .want {
    display: none;
  } */

  .stress {
    margin-top: 10px;
  }

  .trust {
    flex-direction: column;
  }

}