.local {
  background-image: url('../../../public/images/hero1.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 400px;
}

.down {
  width: 50%;
  height: 5%;
}



/* Media queries */

@media only screen and (max-width: 425px) {
  .exam {
    display: flex;
    flex-direction: column-reverse;
  }

  .lily {
    font-size: 30px;
  }

  .stress {
    margin-top: 10px;
  }

  .trust {
    flex-direction: column;
  }

  .bab {
    color: black;
  }

  .when {
    display: none;
  }
}

@media screen and (max-width: 800px) {
  .exam {
    display: flex;
    flex-direction: column-reverse;
    /* margin-left: 30px; */
  }

  .lily {
    font-size: 30px;
  }

  .LLL {
    font-size: 20px;
  }

  .live {
    padding: 20px;
  }

  .stress {
    margin-top: 10px;
  }

  .trust {
    flex-direction: column;
  }

  .bab {
    color: black;
  }
}